<h2 mat-dialog-title>Update Employee <b>{{this.data.name}}</b></h2>
<mat-dialog-content style="width: 470px;" class="mat-typography">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="name" class="required">Name</label>
            <input formControlName="name" [(ngModel)]="employee.name" id="name" type="text" class="form-control">
            <div *ngIf="name && name.touched && name.invalid" class="alert alert-danger">
                <div *ngIf="name.errors && name.errors.required">name is required</div>
                <div *ngIf="name.errors && name.errors.minlength">name should be minimum {{name.errors.minlength.requiredLength}} charecters</div>
            </div>
        </div>

        <div class="form-group">
            <label for="jobTitle" class="required">Job Title</label>
            <input formControlName="jobTitle" [(ngModel)]="employee.jobTitle" id="jobTitle" type="text" class="form-control">
            <div *ngIf="jobTitle && jobTitle.touched && jobTitle.invalid" class="alert alert-danger">
                <div *ngIf="jobTitle.errors && jobTitle.errors.required">jobTitle is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="required">Email</label>
            <input formControlName="email" id="email" [(ngModel)]="employee.email" type="text" class="form-control">
            <div *ngIf="email && email.pending">Checking for availability...</div>
            <div *ngIf="email && email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors && email.errors.required">email is required</div>
                <div *ngIf="email.errors && email.errors.cannotContainSpace">Can not Contain Space</div>
                <div *ngIf="email.errors && email.errors.shouldContainAt">should contain @</div>
                <div *ngIf="email.errors && email.errors.shouldBeUnique">should be unique</div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="required">Phone</label>
            <input formControlName="phone" id="jobTitle" type="text" [(ngModel)]="employee.phone" class="form-control">
            <div *ngIf="phone && phone.touched && phone.invalid" class="alert alert-danger">
                <div *ngIf="phone.errors && phone.errors.required">phone is required</div>
                <div *ngIf="phone.errors && phone.errors.minlength">phone should be minimum {{phone.errors.minlength.requiredLength}} charecters</div>
                <div *ngIf="phone.errors && phone.errors.maxlength">phone should be maximum {{phone.errors.maxlength.requiredLength}} charecters</div>
                <div *ngIf="phone.errors && phone.errors.cannotContainSpace">Can not Contain Space</div>
            </div>
        </div>

        <div class="form-group">
            <label for="imageUrl" class="required">Image URL</label>
            <input formControlName="imageUrl" id="imageUrl" type="text" [(ngModel)]="employee.imageUrl" class="form-control">
            <div *ngIf="imageUrl && imageUrl.touched && imageUrl.invalid" class="alert alert-danger">
                <div *ngIf="imageUrl.errors && imageUrl.errors.required">imageUrl is required</div>
                <div *ngIf="imageUrl.errors && imageUrl.errors.cannotContainSpace">Can not Contain Space</div>

            </div>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-light mr-2" type="button" mat-dialog-close>Cancel</button>
    <button *ngIf="form.valid" class="btn btn-success" type="submit" [mat-dialog-close]="this.employee">Update</button>
    <button *ngIf="!form.valid" class="btn btn-danger" type="submit">Update</button>
</mat-dialog-actions>